<h1><marquee direction="right"><font color="blue">Welcome to my Blog<font></marquee></h1>
<p>this is my first blog</p>
<ul>
	<li><font color="red" size="5"><b>ruby on rails</b></font></li>
	<li><font color="green" size="5"><b>my blog...</b></font></li>
</ul>
